body{
background-color: rgb(8, 83, 23);}

h1{
    
    color: rgb(250, 250, 250);
    text-align: center;
}


input{
    
    margin-top: 3em;
    height: 28px;
    background-color: rgb(251, 251, 251);
    border-radius: 0.8em;
    border-color: aliceblue;
    
}

label{
    color: rgb(243, 243, 243);
    align-items: center;
    font-weight: 400;
    font-size: 28px;
}

button{
    height: 32px;
    background-color: rgb(197, 217, 17);
    color: rgb(6, 37, 7);
    border-radius: 0.5em;
    border-color: bisque;
}

#resultado{
    background-color: rgb(5, 78, 49);
    color: aliceblue;
    
}