#demo {
    display: flex;
}
.id {
    color: #cc8f60;
    font-size: 15px;
}
.titulo {
    color: #89b399;
    font-size: 20px;
    text-align: center;
}
.cards {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 30px;
    padding: 20px;
    justify-content:space-around;
    width: 350px;
    border-radius: 10px 20px;
}
.titulo-original {
    color: #817b77;
    font-size: 20px;
    margin:0;
    text-align: center;
}
.titulo-dois {
   color: #cc8f60;
   text-align: center;
}
.imagem {
    height: 250px;
    width: 180px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 7px solid #627964;
    border-radius: 10px 20px;
}
.banner {
    height: 155px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 7px solid #627964;
    border-radius: 10px 20px;
}
.descricao {
    color: rgb(42, 83, 42);
    text-align: justify;
}
.diretor {
    text-align: center;
    margin: 0;
}
.producao {
    text-align: center;
    font-size: 17px;
    margin: 0;
}
.data-lancamento {
    text-align: center;
    font-size: 17px;
    margin:0; 
}
.tempo-execucao {
    text-align: center;
    font-size: 17px;
    margin: 0;
}
.score {
    text-align: center;
    font-size: 17px;
    margin: 0;
}