@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background: rgb(2,0,36);
    background: linear-gradient(240deg, rgba(2,0,36,1) 0%, rgba(108,9,121,1) 48%);
    /* background-color: rgb(119, 85, 150); */
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.logo {
    width: 300px;
    margin-top: 50px;  
}
.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 80px;  
}
.card {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(230, 172, 241);
    border-radius: 10px;
    min-height: 200px;

}
.image {
    width: 250px;
    height: 300px;    
}
.text {
    width: 350px;
    min-height: 250px;
}
.title {
    font-size: 22px;
    margin: 10px;    
}
.date {
    font-weight: bold;
    margin-left: 10px;
}
.description {
    font-size: 14px;  
    margin: 10px;

}
