*{
    margin: 0px;
    text-decoration: none;
}

.tituloPrincipal{
    color: black;
    font-size: 3em;
    text-align: center;
}

.gradient{
    background-image: linear-gradient(to top, rgb(58, 39, 77), rgb(42, 74, 100), rgb(183, 236, 231)); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-principal{
    background-color: rgb(42, 74, 100);
    display: flex;
    justify-content: center;
    margin: 12px 0px 0px 0px;
    padding: 10px;
}

.card{
    background-color: rgb(225, 242, 240);
    border: 4px double black;
    padding: 5px;
    margin: 5px;
}

footer{
    background-color: rgb(42, 74, 100);
    color: #fafafa;
    font-size: 1em;
    padding: 12px;
    text-align: center;
}