body{
    background-color: rgb(232, 228, 228);
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
input {
    text-align: center;
  }

  main{
      box-sizing: border-box;
      padding: 20px;
  }

 img{
    display:flex;
    height: 400px;
    width: 300px;
    justify-content: center;
  }

  #button{
   background-color: aqua;
  }

  form{
    justify-items: center;
  }